.zagrebin {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.hearer-zagrebin {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.section-zagrebin {
  margin: 20px;
}

.h1-zagrebin {
  font-size: 2.5em;
  margin: 10px 0;
}

.intro {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.skills {
  margin: 20px 0;
  border-radius: 10px;
}

.ul-zagrebin {
  list-style-type: none;
  padding: 0;
}

.li-zagrebin {
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 5px 0;
}

.a-zagrebin {
  color: white;
  text-decoration: none;
}

.a-zagrebin:hover {
  text-decoration: underline;
}
